body{
		/*Tamaño del fondo*/
	background: url(fondocolores.gif) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-size: cover;
		/* Margenes */
	margin-top: 30px;
	margin-right: 280px;
	margin-bottom: 10px;
	margin-left: 280px
}

.stroke {
		/*Color interno de la letra*/
	-webkit-text-fill-color: #00FB29;
		/*Tamaño y color del borde*/
	-webkit-text-stroke: 0.2px #FB02F7;
		/*Sombra a la letra direccion(izquierda o derecha), Orientacion(Arriba o abajo), Difuminado y color de la sombra*/
	text-shadow: -2px -2px 5px #FB02F7;
}

.imagen:hover{
		/*Redondear Img*/
	border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 15px 15px #01F6FA;
	-webkit-box-shadow: 0px 0px 15px 15px #01F6FA;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.imagenDos:hover{
		/*Redondear Img*/
	border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 15px 15px #FB0105;
	-webkit-box-shadow: 0px 0px 15px 15px #FB0105;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.imagenTres:hover{
		/*Redondear Img*/
	border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 15px 15px #00F719;
	-webkit-box-shadow: 0px 0px 15px 15px #00F719;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.imagenCuatro:hover{
		/*Redondear Img*/
	border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 15px 15px #FFFF00;
	-webkit-box-shadow: 0px 0px 15px 15px #FFFF00;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.imagenCinco:hover{
		/*Redondear Img*/
	border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 15px 15px #FF00FF;
	-webkit-box-shadow: 0px 0px 15px 15px #FF00FF;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}